<form ng-controller="controllerCreate as vm" ng-submit="vm.create()">
    First name:<br />
    <input type="text" name="FirstName" ng-model="vm.contact.firstName" required value="{{vm.contact.firstName}}"><br />
    Last name:<br />
    <input type="text" name="LastName" ng-model="vm.contact.lastName" required value="{{vm.contact.lastName}}"><br />
    Email:<br />
    <input type="email" name="Email" ng-model="vm.contact.email" value="{{vm.contact.email}}"><br />
    Phone<br />
    <input type="text" name="Phone" pattern="\+\d{11}|\d{9}" required ng-model="vm.contact.phone" title="The number must start with +370 or 8" value="{{vm.contact.phone}}"><br />

    <input type="submit" id="submit" value="Submit" />

</form>