<!doctype html>
<html ng-app="testApp">
<head>
    <script src="../../Scripts/angular.min.js"></script>
    <script src="../../Scripts/angular-route.js"></script>
    <script src="../../AppScripts/app.js"></script>
    <base href="/">
</head>
<body>
    <div>
        <table name="table" ng-controller="controllerList as vm">
            <tr>
                <td>First name </td>
                <td>Last name </td>
                <td>Email </td>
                <td>Phone </td>
            </tr>
            <tr ng-repeat="item in vm.contacts">
                <td>{{item.FirstName}} </td>
                <td>{{item.LastName}} </td>
                <td>{{item.Email}} </td>
                <td>{{item.Phone}} </td>
                <td><a href="#" ng-click="vm.delete(item)">Delete</a></td>
                <td><a href="#!details/{{item.Id}}">Details</a></td>
            </tr>
        </table>
        <a href="#!create">Create</a>

        <div ng-view>
            

        </div>

    </div>
</body>
</html>