@model IDictionary<int, test1.Models.Contact> 

@{
    ViewBag.Title = "List";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>List</h2>

<table>

    @foreach (var item in Model)

    {

        <tr>

            <td>@item.Value.FirstName</td>

            <td>@item.Value.LastName</td>

            <td>@item.Value.Email</td>

        </tr>



    }

</table>

<a href="/home/Add">Create contact</a>
